.fon {
  font-size: 1px !important;
  color: black !important;
  border: none !important;
}

button {
  color: black !important;
  border: none !important;
  background-color: #fff !important;
}

.tex {
  margin-top: 0.2rem !important;
}

input[type="checkbox"] {
  width: 20px !important; /*Desired width*/
  height: 20px !important; /*Desired height*/
}

textarea {
  -webkit-user-select: all !important;
  user-select: all !important;
  display: flex;
  padding: 20px !important;
  background-color: white !important;
  color: black !important;
  text-align: left !important;
  font-family: inherit !important;
  overflow: auto !important;
}

.dis {
  padding-left: 450px !important;
  padding-top: 50px !important;
}

.pok {
  margin-bottom: 16px !important;
}
